<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<form id="class" action="" method="post">
    <label>classification name: <input type="text" name="classification_name" id="c_name" required pattern="^[a-zA-Z]+$"></label>
    <p>Classification name must not contain any spaces or special characters of any kind</p>
    <button type="submit">Add Classification</button>
</form>